{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'waste_wizard/style.css' %}" />
    </head>
    <body>

        <a class="back_link" href="/waste_wizard/">New Search</a>

        <table class="waste_item_detail">
            <tbody>
                <tr>
                    <td>Waste Item</td>
                    <td>{{ waste_item.description }}</td>
                </tr>
                <tr>
                    <td>Destination</td>
                    <td>{{ waste_item.get_destination }}</td>
                </tr>
                {% if waste_item.notes %}
                    <tr>
                        <td>Notes</td>
                        <td>{{ waste_item.notes }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td>
                        {% if image_url %}
                            <img src="{% static image_url %}" />
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
