{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'waste_wizard/style.css' %}" />

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script>
          $( function() {
            var availableTags = {{ keywords | safe }};
            $( "#id_description" ).autocomplete({
              source: availableTags
            });
          } );
        </script>

    </head>
    <body>


<!--
        Waste Item Topics

        <div style="clear: both;">
            <div style="float: left; padding-right: 50px;">
                <ul>
                    {% for item in waste_item_list1 %}
                        <li><a href="{% url 'waste_wizard:detail' item.description %}">{{ item.description }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div style="float: left;">
                <ul>
                    {% for item in waste_item_list2 %}
                        <li><a href="{% url 'waste_wizard:detail' item.description %}">{{ item.description }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
-->

        <div style="clear: both;">
            <form action="/waste_wizard/results/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Search" />
            </form>
        </div>

    </body>
</html>
