{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'waste_wizard/style.css' %}" />
    </head>
    <body>

        <a class="back_link" href="/waste_wizard/">Back</a>

        <div class="item_topics">
            Waste Item Topics
        </div>

        {% for t0, t1 in tuples %}
            <div class="item_list_row">
                <div class="item_list_first">
                    {% include "waste_wizard/partials/letter_items.html" with letter=t0.letter keywords=t0.keywords %}
                </div>
                <div>
                    {% include "waste_wizard/partials/letter_items.html" with letter=t1.letter keywords=t1.keywords %}
                </div>
            </div>
        {% endfor %}

    </body>
</html>
