{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'waste_wizard/style.css' %}" />
    </head>
    <body>

        <a class="back_link" href="/waste_wizard/">Back</a>

        <div class="item_topics">
            Waste Item Topics
        </div>

        {% for keyword_set in keyword_sets %}
            {% include "waste_wizard/partials/letter_items.html" with letter=keyword_set.letter keywords=keyword_set.keywords %}
        {% endfor %}

    </body>
</html>
