@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    color: #666;
}

.item_topics {
    padding: 20px 0 20px 5px;
}

.back_link {
    margin-left: 5px;
}

.item_list_row {
    clear: left;
}

.item_list_first {
    float: left;
    margin-right: 40px;
    width: 50%;
}

a {
    color: #09C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: circle;
}

#ui-id-1 {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
}

#ui-id-1 > li {
    cursor: pointer;
}

label[for=id_description] {
    margin-right: 10px;    
}

input[type=text]#id_description {
    width: 15%;
    border: 2px solid #09C;
    padding: 10px;
}

input[type=submit] {
    border: 1px solid #09C;
    padding: 10px;
    background: #09C;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 20px;
}

th {
    padding-bottom: 10px;
}

.description {
    width: 20%;
    text-align: left;
}

.destination {
    width: 10%;
    text-align: left;
}

.notes {
    width: 70%;
    text-align: left;
    padding-left: 20px;
}

table.waste_item_detail tbody td {
    padding-bottom: 10px;
}

table.waste_item_detail tbody td:first-child {
    width: 20%;
}

table.waste_item_detail tbody tr:last-child td:last-child {
    padding-top: 20px;
}

label[for="id_description"] {display: block;}

#ui-id-1 {width: 262px; left: 0; border-top: 1px solid #09c;  border-bottom: 1px solid #09c; border-left: 1px solid #09c; top: -11px !important;}

input#id_description[type="text"] {width: 220px;}

input[type="submit"] {width: 80px;}
